{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "declaration-no-important": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "for",
          "each",
          "if",
          "else",
          "include",
          "mixin"
        ]
      }
    ],
    "max-nesting-depth": null
  }
}
