.additional-characteristic {
  --line-height__additional-characteristic__text: 14px;

  margin: 0;

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 288px;
  }
}

.additional-characteristic__text {
  line-height: var(--line-height__additional-characteristic__text);

  @media (min-width: $tablet-width) {
    --line-height__additional-characteristic__text: 20px;
  }
}

.additional-characteristic__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    gap: 49px;
  }
}

.additional-characteristic__text_definition {
  margin-left: 0;
}
