.characteristic {
  --font-size__characteristic-text: 12px;
  --line-height__characteristic-text: 16px;
}

.characteristic__text {
  font-size: var(--font-size__characteristic-text);
  line-height: var(--line-height__characteristic-text);
}
