.example {
  --font-size__desc-title: 24px;
  --font-size__desc-text: 12px;
  --font-size__expenses: 14px;
  --font-size__switch: 16px;

  --line-height__desc-title: var(--font-size__desc-title);
  --line-height__desc-text: var(--font-size__desc-text);
  --line-height__expenses: 20px;
  --line-height__switch: 20px;

  background-color: $color-grey-light;
}

.example__desc-title {
  font: {
    family: var(--font-base);
    size: var(--font-size__desc-title);
  }
  line-height: var(--line-height__desc-title);
  color: $color-black;
  text-transform: uppercase;
}

.example__desc-text {
  font-size: var(--font-size__desc-text);
  line-height: var(--line-height__desc-text);
  color: $color-grey-darken;
}

.example__expenses {
  font: {
    family: var(--font-base);
    size: var(--font-size__expenses);
  }
  line-height: var(--line-height__expenses);
  text-transform: uppercase;
  color: $color-black;
}

.example__switch {
  font: {
    family: var(--font-base);
    size: var(--font-size__switch);
  }
  line-height: var(--line-height__switch);
  text-transform: uppercase;
  color: $color-black;
  background: transparent;
  border: none;
  padding: 0;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: rgba($color-black, 0.4);
  }

  &:active {
    border-bottom-color: transparent;
  }
}
