.features {
  --font-size-feature-title: 24px;
  --font-size-feature-link: 16px;
  --line-height-feature-title: 37px;
  --line-height-feature-link: var(--font-size-feature-link);
}
.features__list {
  @include listReset()
}
.features__item {
  background-color: $color-grey-secondary;
}
.features__title {
  color: $color-black;
  font-size: var(--font-size-feature-title);
  line-height: var(--line-height-feature-title);
  &::before {
    @include absPseudoElement;
    background: {
      repeat: no-repeat;
      size: 100%;
    }
  }
}
.features__title_slimming {
  &:before {
    width: 50px;
    height: 53px;
    background-image: url("../img/features-icon-1.svg");
  }
}
.features__title_mass-gain {
  &::before {
    width: 67px;
    height: 50px;
    background-image: url("../img/features-icon-2.svg");
  }
}
.features__link {
  @include linkReset();
  font: {
    family: var(--font-base);
    size: var(--font-size-feature-link);
  }
  line-height: var(--line-height-feature-link);
  text-transform: uppercase;
  color: $color-black;
  &:active {
    color: rgba($color-black, 0.3);
  }
}
