.footer {
  background-color: $color-grey;
}

.footer__social-list {
  @include listReset();
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
  width: 100%;
  padding: {
    top: 20px;
    bottom: 19px;
  };
  border-bottom: 1px solid $color-grey-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    width: auto;
    gap: 25px;
  }
}

.footer__copyright {
  @include linkReset();
  font-size: 16px;
  color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;

  svg {
    transition: 0.3s ease-in-out;
  }

  path {
    //fill: #666666;
    fill: red;
  }

  &:hover {
    svg {
      fill: $color-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    gap: 22px;
  }
}

.footer__social-link {
  display: flex;

  svg {
    transition: 0.3s ease-in-out;
  }

  &:not(.footer__social-link_facebook) {
    svg {
      fill: #666666;
    }
  }

  &:hover:not(.footer__social-link_facebook) {
    svg {
      fill: $color-green;
    }
  }

  &:active:not(.footer__social-link_facebook) {
    svg {
      fill: rgba($color-green, 0.3);
    }
  }

  &.footer__social-link_facebook:hover {
    svg {
      stroke: $color-green;
    }
  }

  &.footer__social-link_facebook:active {
    svg {
      stroke: rgba($color-green, 0.3);
    }
  }
}

.footer__social-link_facebook {
  svg {
    stroke: #666666;
  }

  @media (min-width: $tablet-width) {
    svg {
      width: 28px;
      height: 33px;
      fill: none;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: {
      top: 55px;
      bottom: 61px;
    };
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 57px;
      bottom: 58px;
    };
  }
}

.footer__logo {
  display: inline-flex;
  align-items: center;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.footer__logo-wrapper {
  width: 100%;
  padding: {
    top: 39px;
    bottom: 32px;
  };
  border-bottom: 1px solid $color-grey-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    width: auto;
  }
}

.footer__social-link_vk {
  @media (min-width: $tablet-width) {
    svg {
      width: 30px;
      height: 22px;
    }
  }
}

.footer__social-link_instagram {
  @media (min-width: $tablet-width) {
    svg {
      width: 23px;
      height: 23px;
    }
  }
}
