.main-nav__list {
  @include listReset();
}

.main-nav__link {
  font: {
    size: 20px;
    weight: 500;
    family: var(--font-base);
  }
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
  padding: {
    top: 22px;
    bottom: 22px;
  }

  @include linkReset();

  &:hover:not(.main-nav__link_current) {
    color: rgba($color-black, 0.6);
  }

  &:active:not(.main-nav__link_current) {
    color: rgba($color-black, 0.3);
  }
}

.main-nav__link_current {
  color: $color-green;
}
