.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  font: {
    family: var(--font-secondary);
    weight: 400;
    size: var(--font-size);
  }
  line-height: var(--line-height);
  color: $color-grey-darken;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    font-size: var(--font-size_tablet);
    line-height: var(--line-height_tablet);
  }
}
