.title-h3 {
  font: {
    family: var(--font-base);
    size: var(--font-size-h3);
    weight: 400;
  }
  line-height: var(--line-height-h3);
  color: $color-black-lightest;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}
