/*--native variables--*/
:root {
  /*--paddings--*/
  --padding-content: 20px;
  --padding-button: 7px;

  /*--font--*/
  --font-base: oswald, arial, sans-serif;
  --font-secondary: arial, sans-serif;

  --font-size: 14px;
  --font-size-h1: 36px;
  --font-size-h2: var(--font-size-h1);
  --font-size-h3: 16px;
  --font-size-button: 14px;

  --line-height: 18px;
  --line-height-button: 18px;
  --line-height-h2: 40px;
  --line-height-h3: 20px;

  /*--button--*/
  --min-height-button: 40px;
}

/*--sass variables--*/
/*--font--*/
$font-value-1: oswald, normal, 400, "Oswald Medium", "oswaldmedium";
$font-value-2: oswald, normal, 500, "Oswald Regular", "oswaldregular";

/*--color--*/
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #111111;
$color-black-lightest: #222222;
$color-green: #68b738;
$color-green-dark: #5eaa2f;
$color-green-darken: #64a83b;
$color-grey: #f2f2f2;
$color-grey-light: #eaeaea;
$color-grey-lighter: #ebebeb;
$color-grey-dark: #cdcdcd;
$color-grey-darken: #444444;
$color-grey-secondary: #d9d9d9;
$color-grey-secondary-1: #e7e7e7;
$color-grey-secondary-2: #bababa;
$color-red: #ff8282;
